body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    color: blue;
    width: 100%;
    animation: colorchange 10s infinite alternate forwards;}
    @keyframes colorchange {
  0% {
    background-color:palegreen;  }
  25% {
    background-color:gold; }
  50% {
    background-color:hotpink;}
  75% {
    background-color:aquamarine;}
  100% {
    background-color:violet;}


}
.header{
    height:300px;
}

.hd {
  display: flex;
  max-width:fit-content;
  margin: 0px ;
  background:fuchsia;
  overflow: hidden;
}


.hd-left {
  width: 200px;
  background: blue;
  color: red;
  text-align: center;
  padding: 25px 15px;
  
}

.hd-left img {
  width: 200px;
  
  border-radius: 6px;
  border: 2px solid white;
}


.info {
  margin-top: 15px;
  font-size: larger;
    background: yellow;
}


.hd-right {
  flex: 1;
  padding: 40px;
}

.hd-right h1 {
  color:yellow;
  margin-bottom: 10px;
}

.hd-right p {
  line-height: 2;
  color: black;
  font-size: 25px;
}

 nav ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex; 
  gap: 90px;
  font-size: 30px;
}

.nav a {
  font-weight: 600;
 padding:0;
  
}
.a,.b{
    padding-left: 200px ;
  font-size: 22px;

}
.c a{
    padding-left: 570px ;
  font-size: 22px;

}
.a ul,p{
  color: black;
}
.a h1{
  color: red;
}
.b{
  color: black;
}
.b ul,address{
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
}
.b h3{
  color:blue;
}
.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  
}
.section-class,h1{
  color:blue;
}
.edu-grid {
   max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}
.edu-card a {
  text-decoration: none;
  color: white;
  background: red;
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 0.9rem;
}


.edu-card {
  background: chartreuse;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.edu-card:hover {
  transform: translateY(-8px);
}

.edu-card h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.int-grid {
   max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}


.int-card a {
  text-decoration: none;
  color: white;
  background: blue;
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 0.9rem;
}


.int-card {
  background: yellow;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.int-card:hover {
  transform: translateY(-8px);
}

.int-card h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.int-cont {
  color:black;
  margin-bottom: 8px;
}
.cer-grid1, .cer-grid2, .cer-grid3 {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.cer-card a {
  text-decoration: none;
  color: white;
  background: blueviolet;
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 0.9rem;
}

.cer-card {
  background: cyan;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.cer-card:hover {
  transform: translateY(-8px);
}

footer{
   background-color: yellow;
    padding-left: 35%;

}

footer a {
    color:blue;
    font-size: larger;
  
}


html {
  scroll-behavior: smooth;
}
