body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    color: blue;
    width: 100%;
    animation: colorchange 10s infinite alternate forwards;}
    @keyframes colorchange {
  0% {
    background-color:palegreen;  }
  25% {
    background-color:gold; }
  50% {
    background-color:hotpink;}
  75% {
    background-color:aquamarine;}
  100% {
    background-color:violet;}


}
.header{
    height:300px;
}

.hero {
  display: flex;
  max-width:fit-content;
  margin: 0px ;
  background:fuchsia;
  overflow: hidden;
}


.hero-left {
  width: auto;
  background: blue;
  color: red;
  text-align: center;
  padding:auto;
  
}

.hero-left img {
  width: auto;
  
  border-radius: auto;
  border: auto;}

.role {
  margin-top: auto;
  font-weight: bold;
    font-size: auto;
  background: yellow;
  padding: auto;
  border-radius: auto;
}


.info {
  margin-top: auto;
  font-size: auto;
    background: yellow;
}


.hero-right {
  flex: 1;
  padding: auto;
}

.hero-right h1 {
  color:yellow;
  margin-bottom: auto;
}

.hero-right p {
  line-height: 2;
  color: black;
  font-size: auto;
}

 nav ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex; 
  gap: 90px;
  font-size: 30px;
}

.nav a {
  text-decoration: none;
  font-weight: 600;
 padding:0;
  
}
.a ul,p{
  font-size: 20px;
  color: black;
}
.a h1{
  color: red;
}
.b{
  color: black;
}
.b ul,address{
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
}
.b h3{
  color:blue;
}

.d {
  display: flex;
  width: auto
  height: 400px;   }

.d1, .d2, .d3,.d4 {
  flex: 1;         

  border: 1px solid red; 
}
.d1 img {
  padding: auto;
  height:auto;
  width: auto;
   transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}
.d2 img {
  padding: auto;
  height:auto;
  width: auto;
   transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}
.d3 img {
  padding: auto;
  height:auto;
  width: auto; 
  transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}
.d4 img {
  padding: auto;
  height:auto;
  width:auto;
   transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}
.d1 img:hover{
  transform: scale(1.1); 
      opacity: 2.0;
         
}
.d2 img:hover{
  transform: scale(1.1); 
      opacity: 2.0;
         
}
.d3 img:hover{
  transform: scale(1.1); 
      opacity: 2.0;
         
}
.d4 img:hover{
  transform: scale(1.1); 
      opacity: 2.0;
          
}
.e {
  display: flex;
  width: auto
  height: 600px;   }

.e1, .e2 {
  flex: 1;         

  border: 1px solid red; }
.e1 img {
  padding-left:auto;
  height:auto;
  width:auto;
   transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;

}
.e2 img {
  padding-left:auto;
  height:auto;
  width:auto;
   transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}
.e1 img:hover{
  transform: scale(1.1); 
      opacity: 2.0;
         
}

.e2 img:hover{
  transform: scale(1.1); 
      opacity: 2.0;
         
}
.f {
  display: flex;
  width: auto
  height: 400px;   }

.f1, .f2, .f3,.f4 {
  flex: 1;         

  border: 1px solid red;} 
 
.f1 img {
  padding: auto;
  height:auto;
  width: auto;
   transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}
.f2 img {
  padding: auto;
  height:auto;
  width: auto;
   transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}
.f3 img {
  padding: auto;
  height:auto;
  width: auto; 
  transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}
.f4 img {
  padding: auto;
  height: auto;
  width: auto;
   transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}
.f1 img:hover{
  transform: scale(1.1); 
      opacity: 2.0;
         
}
.f2 img:hover{
  transform: scale(1.1); 
      opacity: 2.0;
         
}
.f3 img:hover{
  transform: scale(1.1); 
      opacity: 2.0;
         
}
.f4 img:hover{
  transform: scale(1.1); 
      opacity: 2.0;
          
}
 .g {
  display: flex;
  width: auto
  height: auto;   }

.g1, .g2, .g3,.g4 {
  flex: 1;         

  border: 1px solid red;} 

.g1 img {
  padding: auto;
  height:auto;
  width: auto;
   transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}
.g2 img {
  padding: auto;
  height:auto;
  width: auto;
   transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}
.g3 img {
  padding: auto;
  height:auto;
  width: auto; 
  transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}
.g4 img {
  padding-left: auto;
  height: auto;
  width: auto;
   transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}
.g1 img:hover{
  transform: scale(1.1); 
      opacity: 2.0;
         
}
.g2 img:hover{
  transform: scale(1.1); 
      opacity: 2.0;
         
}
.g3 img:hover{
  transform: scale(1.1); 
      opacity: 2.0;
         
}
.g4 img:hover{
  transform: scale(1.1); 
      opacity: 2.0;
          
}
.h {
  display: flex;
  width: auto
  height: auto;   }

.h1, .h2, .h3,.h4 {
  flex: 1;         

  border: 1px solid red;} 

.h1 img {
  padding: auto;
  height:auto;
  width: auto;
   transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}
.h2 img {
  padding: auto;
  height:auto;
  width: auto;
   transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}
.h3 img {
  padding: auto;
  height:auto;
  width: auto; 
  transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}
.h4 img {
  padding: auto;
  height: auto;
  width: auto;
   transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}
.h1 img:hover{
  transform: scale(1.1); 
      opacity: 2.0;
         
}
.h2 img:hover{
  transform: scale(1.1); 
      opacity: 2.0;
         
}
.h3 img:hover{
  transform: scale(1.1); 
      opacity: 2.0;
         
}
.h4 img:hover{
  transform: scale(1.1); 
      opacity: 2.0;
          
}

footer a {
    color:blue;
    background-color: yellow;
}


html {
  scroll-behavior: smooth;
}
